<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.springboot.management.mapper.BankDao">

    <select id="findByPage" resultType="Bank">
    select * from bank  order by bankCount DESC
    limit #{start},#{rows}
   </select>

    <insert id="save">
       insert into bank(name,explain1,bankCount) values (#{name},#{explain1},#{bankCount})
    </insert>

    <delete id="delete">
        delete  from bank where id=#{id}
    </delete>

    <update id="update">
     update bank set name=#{name},explain1=#{explain1},bankCount=#{bankCount} where id=#{id}
    </update>

    <select id="findByBankName">
     select  * from bank where name=#{name}
    </select>

    <select id="findTotals" resultType="Integer">
     select count(id) from bank
    </select>

    <select id="findOne" resultType="Bank">
        select * from bank where id=#{id}
    </select>


</mapper>