<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.springboot.management.mapper.EchartsMapper">
    <select id="getClasses" resultType="map">
        SELECT co.name as co_name,count(c.id) AS total FROM classes c,college co where c.cid=co.id GROUP BY  cid
    </select>

    <select id="getSex" resultType="map">
        select sex,count(id) as total from user group by sex
    </select>
</mapper>
