<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.springboot.management.mapper.PaperDao">

    <select id="findByPage" resultType="Paper">
    select paper.*,bank.name from paper,bank where paper.bankId=bank.id
    order by time DESC
    limit #{start},#{rows}
   </select>

    <insert id="save">
       insert into paper (TotalScore,time,bankId,paperNum,paperName) values (#{TotalScore},#{time},#{bankId},#{paperNum},#{paperName})
    </insert>

    <delete id="delete">
        delete  from paper where id=#{id}
    </delete>

    <update id="update">
     update paper set TotalScore=#{TotalScore},time=#{time},bankId=#{bankId},paperNum=#{paperNum},paperName=#{paperName} where id=#{id}
    </update>

    <select id="findByBankId" resultType="Paper">
     select  * from paper where bankId=#{bankId}
    </select>

    <select id="findByPaperName" resultType="Paper">
     select  * from paper where paperName=#{paperName}
    </select>

    <select id="findTotals" resultType="Integer">
     select count(id) from paper
    </select>

    <select id="findOne" resultType="Paper">
         select paper.*,bank.name from paper,bank where paper.bankId=bank.id and paper.id=#{paper.id}
    </select>

    <update id="updateStatus">
        update paper set
        <if test="status==1">
            status=0
        </if>
        <if test="status==0">
            status=1
        </if>
        where id=#{id}
    </update>
    <select id="findTimeOrName" resultType="Paper" parameterType="Paper">
                SELECT
                    pr.*, bk. NAME
                FROM
                    paper pr,
                    bank bk
                WHERE
                    pr.bankId = bk.id
                    <if test="paper.time!=null">
                        AND pr.time LIKE '%${paper.time}%'
                    </if>
                    <if test="paper.name!=null and paper.name!=''">
                        AND bk. NAME LIKE '%${paper.name}%'
                    </if>
                limit #{start},#{rows}
    </select>
    <select id="totalsSelect"  resultType="Integer" parameterType="Paper">
        select count(*) from ( SELECT
        pr.*, bk. NAME
        FROM
        paper pr,
        bank bk
        WHERE
        pr.bankId = bk.id
        <if test="time!=null">
            AND pr.time LIKE '%${time}%'
        </if>
        <if test="name!=null and name!=''">
            AND bk. NAME LIKE '%${name}%'
        </if>
        )s
    </select>
</mapper>
